{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}
  {{#has tag="macro"}}
    <div class="macro-post">
      <div class="post-header">
        <h1>{{title}}</h2>
        <p>{{ content }}</p>
      </div>
      {{#get "posts" include="tags" filter="tags:[  {{title}}]"}}
        <h3>Associated Projects</h3>
        {{#foreach posts}}
          <div class="project br flex align-items-center">
            <div>
              <time class="post-date color-grey-lt mr-1" datetime="{{date format="YYYY"}}">{{date format="YYYY"}}</time>
              <a class="lh-solid m0 inline-block no-underline color-grey-md" href="{{url}}">{{title}}</a>
            </div>
            {{> "tags"}}
          </div>
        {{/foreach}}
      {{/get}}
    </div>
  {{/has}}
{{/foreach}}
