<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    {{ghost_head}}
  </head>

  <body>
    <div class="container">

      <nav>
        {{#if @blog.title}}
          <a href="/" class="no-underline">
            <h2 class="color-green">{{ @blog.title }}</h2>
          </a>
        {{/if}}
        {{#if @blog.description}}
          <p class="color-grey-md subheadline">{{ @blog.description }}</p>
        {{/if}}
        {{navigation}}
      </nav>

      <div class="content">
        {{{body}}}

        <footer class="color-grey-dk">Proudly published with <a href="https://ghost.org">Ghost</a></footer>

      </div>
      {{ghost_foot}}
    </div>
  </body>
</html>
