<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title id="link">{{meta_title}} - {{#if @blog.title}}{{ @blog.title }}{{/if}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    {{ghost_head}}
  </head>

  <body>
    <div class="container overflow-x-hidden">

      <nav class="flex flex-direction-column">
        {{#if @blog.title}}
          <a href="/" class="no-underline">
            <h2 class="color-green animation-hover">{{ @blog.title }}</h2>
          </a>
        {{/if}}
        {{#if @blog.description}}
          <p class="color-grey-md subheadline">{{ @blog.description }}</p>
        {{/if}}
        <menu id="menu" class="br m-0 p-0">
          <div>Menu</div>
          <div class="ml-1 menu-icon">
            <div class="mb-q"></div>
            <div class="mb-q"></div>
            <div></div>
          </div>
        </menu>
        {{navigation}}
      </nav>

      <div class="content">

        {{{body}}}

        <footer class="color-grey-dk">Proudly published with <a class="animation-hover" href="https://ghost.org" target="_blank">Ghost</a></footer>

      </div>

      {{ghost_foot}}

    </div>
    <script type="text/javascript">
      // Format Page Title
      if (window.location.pathname === '/') {
        document.title = '{{ @blog.title }}';
      } else {
        var metaTitle = '{{meta_title}}';
        document.title = metaTitle.charAt(0).toUpperCase() + metaTitle.slice(1) + ' - ' + '{{@blog.title}}';
      }
    </script>
    <script type="text/javascript" src="{{asset "js/application.min.js"}}"></script>
  </body>
</html>
