{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

  <main role="main">
    <div class="post-header">
      <div class="flex align-items-center">
        <h1 class="mr-1">{{title}}</h1>
        {{> "tags"}}
      </div>
      <p><time class="color-grey-dk" datetime="{{date format="YYYY"}}">{{date format="YYYY"}}</time></p>
      {{#if image}}
        <img src="{{image}}" alt="{{title}} post header image">
      {{/if}}
    </div>
    <article>

      <section class="post-content">

        {{content}}
      </section>

      {{> "post-footer"}}

    </article>
  </main>

{{/post}}
