{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

  <main role="main">
    <header>
      {{#has tag="#work"}}
        <div class="headline">{{title}}</div>
        <h2>
          <time class="post-date" datetime="{{date format="YYYY"}}">
            {{date format="YYYY"}}{{#has tag="present"}}&nbsp;-&nbsp;Present{{/has}}
          </time>
        </h2>
        {{> "tags"}}
        <a href="/">Back To Work</a>
      {{/has}}
    </header>
    <article>

      <section class="post-content">
        {{content}}
      </section>

      <footer class="post-footer">

      </footer>

    </article>
  </main>

{{/post}}
